{:foo {:actions {:action :sdo,
                 :children
                 ({:action :where,
                   :params [[:> :metric 11]],
                   :children
                   ({:action :increment,
                     :children
                     ({:action :index!
                       :params [[:host]]}
                      {:action :info
                       :params [],
                       :children nil})})})}}}
