{:foo
 {:actions {:action :sdo,
            :children
            ({:action :write!, :params []}
             {:action :by,
              :params [[:host :service]],
              :children
              ({:action :fixed-event-window,
                :params [5],
                :children
                ({:action :info})})})}}}
