{:foo
 {:actions {:action :custom
            :params [[:> :metric 10]]
            :children [{:action :tap
                        :params [:foo]}]}}
 :bar
 {:actions {:action :custom
            :params [[:> :metric 10]]
            :children [{:action :tap
                        :params [:foo]}]}}
 }
