{:percentiles {:input [{:name "http_request_duration_seconds"
                        :metric 1.1
                        :time 1e9
                        :attributes {:application "app1"
                                     :environment "production"}}
                       {:name "http_request_duration_seconds"
                        :metric 4.2
                        :time 10e9
                        :attributes {:application "app1"
                                     :environment "production"}}
                       {:name "http_request_duration_seconds"
                        :metric 2
                        :time 14e9
                        :attributes {:application "app1"
                                     :environment "production"}}
                       {:name "http_request_duration_seconds"
                        :metric 5
                        :time 18e9
                        :attributes {:application "app1"
                                     :environment "production"}}
                       {:name "http_request_duration_seconds"
                        :metric 0.2
                        :time 22e9
                        :attributes {:application "app1"
                                     :environment "production"}}]
               :taps {:alert [{:name "http_request_duration_seconds"
                               :metric 5
                               :time 22e9
                               :quantile "0.99"
                               :attributes {:application "app1"
                                            :environment "production"}
                               :state "error"}]}}}
