{:percentiles {:input [{:name "http_request_duration_seconds"
                        :metric 0.1
                        :time 1e9}
                       {:name "http_request_duration_seconds"
                        :metric 1.2
                        :time 30e9}
                       {:name "http_request_duration_seconds"
                        :metric 10
                        :time 40e9}
                       {:name "http_request_duration_seconds"
                        :metric 8
                        :time 50e9}
                       {:name "http_request_duration_seconds"
                        :metric 3
                        :time 70e9}]
               :taps {:alert [{:name "http_request_duration_seconds"
                               :metric 10
                               :time 70e9
                               :state "critical"
                               :attributes {:quantile "0.99"}}]}}}
