{:test1 {:input [{:kind "client"
                  :time 1e9}
                 {:kind "client"
                  :time 3e9}
                 {:kind "client"
                  :time 4e9}
                 {:kind "client"
                  :time 13e9}]
         :target :test
         :tap-results {:result [{:metric 3/10
                                 :time 4e9
                                 :kind "client"
                                 :name "RATE"
                                 }]}}}
