{:file-example {:config {:path "/tmp/events.edn"}
                :type :file}
 ;; :influxdb {:config {:connection-string "http://127.0.0.1:8086"
 ;;                     :bucket "mirabelle"
 ;;                     :org "mirabelle"
 ;;                     :username "mirabelle"
 ;;                     :password "mirabelle"
 ;;                     :measurement :service
 ;;                     :default-tags {"project" "mirabelle"}
 ;;                     :tags []
 ;;                     :fields []}
 ;;            :type :influxdb}
 :thread-pool {:type :async-queue
               :config {}}}
