;; for tests
{:tcp {:host "0.0.0.0"
       :port 5555}
 :http {:host "0.0.0.0"
        :port 5558
        :basic-auth {:username "foo"
                     :password #secret "my-password"}}
 :queue {:directory "dev/queue"}
 :stream {:directories ["dev/resources/streams"]
          :actions {:custom mirabelle.action/where*}}
 :outputs {:write-file {:config {:path "/tmp/file"}
                        :type :file}
           :foo-custom {:builder mirabelle.output.file/map->File
                        :type :custom
                        :config {:path "/tmp/file2"}}}
 :logging {:level "info"
           :console {:encoder :json}}
 :test {:directories ["dev/resources/tests"]}}

;; local env
;; {:tcp {:host "0.0.0.0"
;;        :port 5555
;;        :native? true}
;;  :http {:host "0.0.0.0"
;;         :port 5558}
;;  :stream {:directories ["/etc/mirabelle/streams"]
;;           :actions {}}
;;  :outputs {:write-file {:config {:path "/tmp/file"
;;                                  :type :file}}}
;;  :test {:directories ["/etc/mirabelle/tests"]}
;;  :logging {:level "info"
;;            :console {:encoder :json}}}
