{:tcp {:host "0.0.0.0"
       :port 5555}
 :http {:host "0.0.0.0"
        :port 5666}
 :queue {:directory "dev/queue"}
 :stream {:directories ["dev/resources/examples/streams"]
          :actions {:custom mirabelle.action/where*}}
 :io {:directories ["dev/resources/examples/io"]
      :custom {}}
 :test {:directories ["dev/resources/examples/config/tests/"]}}
