{:tcp {:host "0.0.0.0"
       :port 5555}
 :http {:host "0.0.0.0"
        :port 5666}
 :queue {:directory "dev/queue"}
 :stream {:directories ["dev/resources/examples/streams/compiled"]
          :actions {:custom mirabelle.action/where*}}
 :io {:directories ["dev/resources/examples/io"]
      :custom {}}
 :logging {:level "info"
           :console {:encoder :json}}
 :test {:directories ["dev/resources/examples/streams/tests/"]}}
