{:test1 {:input [{:metric 10
                  :service "foo"}
                 {:metric 101
                  :service "bar"}]
         :target :foo
         :tap-results {:foo [{:metric 10
                              :service "foo"}]}}}
