on:
  push:
    branches : [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install java
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - name: Install leiningen
        uses: DeLaGuardo/setup-clojure@3.4
        with:
          lein: latest
      - name: Run lein tests
        run: lein test
